*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    color: white;
}


@media screen and (max-width:768px) {
    
    .copertine {
        display: flex;
        flex-wrap: wrap;
    }
    
    .prima-lista{
        text-align: center;
    }
    
}

.container-code{
    height: 100vh;
}

.column{
    background-color: #191414;
    display: flex;
    flex: 1;
}

.barra-laterale{
    background-color: #191414;
    flex: 1;
}

.profile{
    width: 30%;
}

.main{
    background-color: #1c1d2d;
    flex: 9;
}

.tit-sez{
    padding:  8px;
}

span{
    font-size: 8px;
}

.icon > img{
    display: flex;
    width: 90%;
    padding: 8px;
    margin-top: 10px;
}

.button-bar{
    position: sticky;
    text-align: right;
    padding: 20px;
    background-color: rgba(0,0,0,0.2) ;
}

.upgrade:hover{
    padding: 15px 25px;
}
.button-bar:hover{
    padding: 15px;
}

.upgrade{
    text-align: center;
    padding: 8px 20px;
    background-color: rgba(0,0,0,0.2) ;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 8px;
}

.prima-lista{
    display: flex;
    flex-direction: wrap;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 5px;
    font-size: 6px;
}

.seconda-lista{
    display: flex;
    text-align: center;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 6px;
}

#release{
    margin: 10px;
}

li{
    color: rgb(200, 194, 194);
}

li:hover{
    border-bottom: 2px solid #1DB954;
    text-align: center;
    color: white;
}

.copertine{
    display: flex;    
    text-align: center;
}

.cont-img{
    display: flex;
    flex: 1;
}

.circle-1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../img/einaudi.jpeg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.circle-2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../img/youg.jpeg);
    margin-left: 30px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.box-1{
    width: 150px;
    height: 150px;
    background-image: url(../img/mixdaily.jpeg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.box-2{
    width: 150px;
    height: 150px;
    background-image: url(../img/radar.jpeg);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-left: 30px;
    
}

.titolo-sez{
    font-size: 12px;
}

.ep{

    flex-basis: calc(100%/2);
    padding: 15px;
}

.ep > img{
    width: 100%;
}

.sotto-titolo{
    font-weight: lighter;
    color: gray;
    margin-top: 5px;
    font-size: 8px;
}

.titolo-album{
    font-size: 12px;
}

.foot{
    background-color: #212121;
}

.cont-copertina{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5px; 
}

.player{
    display: block;
    width: 10%;
    padding: 5px;
}

.nome-album{
    font-size: 8px;
    font-weight: lighter;
}

.sotto-titolo-2{
    font-weight: lighter;
    color: lightgray;
    font-size: 5px;
}

.item{
    text-align: right;
    width: 8%;
}

i{
    color: gray;
}